<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner">
          <ul class="footer-menu">
            <li><a href="{{ .Site.BaseURL }}">Home</a></li>
            <li><a href="{{ .Site.BaseURL }}contact">Contact</a></li>
            <li><a href="{{ .Site.BaseURL }}about">About</a></li>
            <li><a href="{{ .Site.BaseURL }}careers">Careers</a></li>
            <li><a href="{{ .Site.BaseURL }}privacy">Privacy Policy</a></li>
            <li class="copyright">© {{ now.Format "2006" }} {{.Site.Title}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>