<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-social">
          {{ partial "social.html" . }}
        </div>
        <div class="sub-footer-inner">
          <ul>
            {{if .Site.Data.contact.phone }}
            <li><strong>Phone: </strong>{{ .Site.Data.contact.phone }}</li>
            {{end}}
            <li><strong>Email: </strong><a href="mailto:{{ .Site.Data.contact.email }}">
                {{ .Site.Data.contact.email }}</a></li>
          </ul>
          <ul>
            <li class="zerostatic"><a href="https://www.senofi.ca">www.senofi.ca</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>