{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-privacy-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

<div class="container pt-4 pt-md-10 pb-4 pb-md-10">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <h1 class="pb-md-5">{{.Title}}</h1>
      <div class="privacy work-single">
        <div class="content">{{.Content}}</div>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "footer_js" }}
{{ $library := resources.Get "js/libs/library.js" }}
{{ $services := resources.Get "js/pages/services.js" }}
{{ $servicesJS := slice $library $services |resources.Concat "js/services.js" }}
{{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $servicesJS.RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($servicesJS | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}
{{ end }}