{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-products-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
{{ partial "hero-image-setheight.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "section" .Section "content" .)}}


<div class="container pt-4 pt-md-10 pb-4 pb-md-10">
  <div class="col-12">
    <div class="work work-single">
      <div class="content">{{.Content}}</div>
    </div>
  </div>
  <div class="row justify-content-start">
    <div class="col-12 pt-4">
        <a class="button" href="{{ .Params.productButtonLink }}">{{ .Params.productButton }}</a>
    </div>
  </div>
</div>
{{ end }}

{{ define "footer_js" }}
{{ $library := resources.Get "js/libs/library.js" }}
{{ $services := resources.Get "js/pages/services.js" }}
{{ $servicesJS := slice $library $services |resources.Concat "js/services.js" }}
{{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $servicesJS.RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($servicesJS | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}
{{ end }}