<div class="product product-summary">
  <div class="container pt-10 pb-10">
    <div class="row">
      <div class="col-12 col-md-6">
        <figure class="image is-1by1">
          <a href="{{ .Permalink }}">
            <img src="{{ .Params.image | relURL }}">
          </a>
        </figure>
      </div>
      <div class="col-12 col-md-6">
        <h2 class="text-primary text-capitalize">
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h2>
        <p>{{ .Params.summaryText }}</p>
        <a class="button" href="{{ .Params.buttonLink | relURL }}">{{ .Params.button }}</a>
      </div>
    </div>
  </div>
</div>