.privacy {
    table {
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid grey;
        
        td, 
        th {
            border: 1px solid grey;
            padding: 10px;
            max-width: 450px;
            text-align: left;
        }
    }

    ul {
        list-style: disc;
    }
}