ul {
  list-style: circle;
  padding-left: 1em;
}

.footer-inner .footer-menu {
  @include media-breakpoint-down(md) {
    align-self: center;
  }
}

.sub-footer-social {
  color: #afafb0;
}

.footer {
  ul {
    li {
      @include media-breakpoint-down(md) {
        text-align: center;
      }
    }
  }
}
.sub-footer {
  .social {
    @include media-breakpoint-down(md) {
      align-self: center;
    }
  }
  .sub-footer-inner  {
    @include media-breakpoint-down(md) {
      align-self: center;
      ul {
        // align-items: center;
        align-content: center;
      }
    }
  }
}

.membership-icon {
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 2em;
  vertical-align: middle;
  border-style: none;
  max-width: 20em;
  width: 12em;
}