{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="intro intro-small">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ .Title }}</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      {{ .Content }}

      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
      <script>
        hbspt.forms.create({
        portalId: "6664248",
        formId: "0abfce9e-2512-427a-ad61-1dc3a94904bf"
      });
      </script>

      <hr style="width:50%;text-align:left;margin-left:0">
      <ul>
        {{if .Site.Data.contact.phone }}
        <li><strong>Phone: </strong>{{ .Site.Data.contact.phone }}</li>
        {{end}}
        {{ if .Site.Data.contact.addressName }}
        <li><strong>{{ .Site.Data.contact.addressName }}</strong></li>
        <li>{{ .Site.Data.contact.addressLine1 }}</li>
        <li>{{ .Site.Data.contact.addressLine2 }}</li>
        {{ end }}
        <li>{{ .Site.Data.contact.email }}</li>
      </ul>
    </div>
  </div>
</div>
{{ end }}