<div class="product product-summary">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-12 col-md-6">
        <h2 class="text-primary text-capitalize">
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h2>
        <p>{{ .Content | truncate 120 "..." | plainify }}</p>
        <a class="button" href="{{ .Params.buttonLink | relURL }}">{{ .Params.button }}</a>
      </div>
    </div>
  </div>
</div>