{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-about-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
{{ partial "hero-image-fullscreen.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "content" .)}}

<div id="home" class="container pt-8 pb-8 pt-md-10 pb-md-10">
  <h3 class="pb-4">Our Strengths</h3>
  <div class="row justify-content-center">
    {{ range .Site.Data.features }}
    <div class="col-12 col-md-6 col-lg-4 mb-2">
      <div class="feature">
        {{ if .image }}<div class="feature-image"><img alt="{{ .title }} logo" src="{{ $.Site.BaseURL }}{{ .image }}" /></div> {{ end }}
        <h2 class="feature-title">{{ .title }}</h2>
        <div class="feature-content">{{ .description }}</div>
      </div>
    </div>
    {{end}}
  </div>
  <h3 class="pt-4 pb-4">Our Story</h3>
{{ .Content }}
</div>


{{ end }}